.card{
    position:relative;
    box-shadow:1px 1px 1.5px rgb(102, 102, 102);
    border-radius: 0.5rem;


}
.img-div{
    font-size: 0;
}
.img-div>img{
    width:350px;
    height:350px;
    
    border-radius: 0.5rem;
   
    
}
.location{
    z-index:3;
    position:absolute;
    left:5%;
    bottom:5%;
    display:flex;
    gap:0.5rem;
}
.svg-icon{
    fill:white;
}
.overlay{
    z-index:2;
    position:absolute;
    top:0;
    right:0;
    height:350px;
    width:350px;
    border-radius:0.5rem;
    box-shadow: 0 -60px 50px 5px rgb(19, 19, 19) inset;
}
